.pagination {
  text-align: center;
}

header {
  background-color: #24292e;
  color: hsla(0,0%,100%,.7);
  text-align: center;
  padding: 16px;
}

/*パラメータの全てをfooterの固定に使用*/
.footer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 16px;
}

.sidebar {
  margin-left: 50px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 15px;
  border-bottom:1px solid #ddd;

}

main {
  margin-left: 50px;
}

article {
  padding-bottom: 50px; 
}

section {
  width: 75vw;
  min-height: 100vh;
  padding: 8px;
  border: 1px solid #ddd;
}

footer {
  margin-top: auto; /*footer固定*/
  margin-left: 50px;
  text-align: center;
}

a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:visited {
color:#0000ff;
}
